[Unit]
Description="Service starts forambot hardware platform on boot or on restart"

[Service]
Type=simple
RuntimeDirectory=/home/pi/Forams/forams-bot/src
ExecStart=sudo python3 /home/pi/Forams/forams-bot/src/run_test.py
StandardOutput=/home/pi/forams-bot.log     
StandardError=/home/pi/forams-bot-error.log
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
